<div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
  <app-header></app-header>
  <div class="md-container">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>

<!-- <md-card>
  <button md-button>Click me!</button>
  <button md-raised-button color="primary">Click me!</button>
  <button md-raised-button color="accent">Click me!</button>
  <button md-raised-button color="warn">Click me!</button>
  <button md-icon-button>C</button>
  <button md-fab>Click!</button>
  <button md-mini-fab>Click!</button>
</md-card> -->
<!-- <button md-raised-button color="warn">Click me!</button> -->
