<div fxLayout="row" fxLayoutAlign="center start"  fxLayoutWrap class="user-list">
  <!-- {{users | json}} -->
 
    <mat-card class="example-card"  *ngFor="let user of users" >
      
      <mat-card-header fxLayout="column" fxLayoutAlign="start center">
        <img [src]="user.avatar_url" [alt]="user.login">
        <mat-card-title>{{user.login}}</mat-card-title>
      </mat-card-header>

      <mat-card-actions  fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary"> 
          <mat-icon>link</mat-icon>
          View details</button>
      </mat-card-actions>
    </mat-card>
 
</div>